@media (max-width:1200px) {
    .promo {
        min-height: 502px;
        padding: 12px 0 36px 0;
        &__wrapper {
            margin-top: 36px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 20px;
        }
        &__icons {
            margin-top: 28px;
        }
        &__link {
            margin-top: 4px;
            font-size: 14px;
        }
    }
    .button {
        &_main {
            margin-top: 36px;
            width: 220px;
            height: 36px;
            font-size: 14px;
        }
    } 
}
@media (max-width: 991px) {
    .container {
        max-width: 740px;
    }
    .promo {
        min-height: 502px;
        padding: 12px 0 36px 0;
        &__wrapper {
            align-items: center;
            margin-top: 36px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 20px;
        }
        &__icons {
            margin-top: 28px;
        }
        &__link {
            margin-top: 4px;
            font-size: 14px;
        }
    }
    .button {
        &_main {
            margin-top: 36px;
            width: 220px;
            height: 36px;
            font-size: 14px;
        }
    } 
    .advantages {
        &__item {
            max-width: 244px;
        }
    }
    .cansultation {
        padding: 50px 0 50px 0;
    }
    .title {
        &_left {
            font-size: 30px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 575px;
    }
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 17px;
                margin-top: 2px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 140px;
        height: 26px;
        &_main {
            margin-top: 36px;
            width: 220px;
            height: 36px;
            font-size: 14px;
        }
        &_submit {

            width: 100%;
            height: 58px;
        }
    }   

    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 36px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 20px;
        }
        &__icons {
            margin-top: 28px;
        }
        &__link {
            margin-top: 4px;
            font-size: 14px;
        }
    }
    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
        }
    }
    .title {
        &_left {
            font-size: 30px;
            line-height: 48px;
        }
    }

}

@media (max-width: 575px) {
    .header {
        justify-content: space-around;
        &__official {
            display: none;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 120px;
        height: 24px;
        font-size: 10px;
        &_main {
            margin-top: 100px;
            width: 220px;
            height: 36px;
            font-size: 14px;
        }
        &_submit {
            width: 100%;
            height: 58px;
        }
    }  
    .promo {
        min-height: 650px;
        padding: 12px 10px 20px 10px;
        &__wrapper {
            margin-top: 28px;
        }
        &__header {
            font-size: 32px;
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            margin-top: 60px;
            width: 100%;
        }
    }
    .advantages {
        padding: 48px 10px 48px 10px;
        &__items {
            margin-top: 36px;
        }  
    }
    
    .cansultation {
        padding: 36px 10px 50px 10px;
        &__descr {
            font-size: 18px;
            text-align: center;
        }
    }

    .title {
        margin-top: 18px;
        &_left {
            font-size: 24px;
            line-height: 36px;
            text-align: center;
        }
    }
    .feed-form {
        margin: 30px auto;
        input {
            margin-bottom: 25px;
            &:nth-child(3) {
                margin-bottom: 35px;
            }
        }
    }
}
