.catalog {
    // min-height: 1103px;
    padding-bottom: 100px;
    &__tabs {
        margin-top: 46px;
        list-style-type:none;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 223px;
        height: 52px;
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        line-height: 50px;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 15px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color:#ffffff;
            border: none;
        }
    }
    &__content {
        margin-top: 57px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        padding: 20px;
        overflow: hidden;
        margin-bottom: 20px;
        
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                color:$main-color;
            }
        }
        hr {
            margin-top: 17px;
            margin-bottom: 17px;
            background-color: #E8E8E8;
        }
        &__footer {
            display: flex;
            justify-content: space-between; 
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px)
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 17px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-right: 0px;
            }
            li:not(:last-child) {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 5px;
                &:before {
                    content:'';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    left: -26px;
                    top: 6px;
                    background: $main-color;
                }
            }
            
            
        }
        &__back {
            position:absolute;
            left: 50%;
            transform: translateX(calc(-50% - 20px));
            bottom: 0;
            font-weight: 500;

            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                color:$main-color;
            }
        }
    }
}