
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 0 auto;
    padding: 82px 20px 88px 20px;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-template-rows: repeat(3, minmax(260px, auto));
    grid-auto-rows: minmax(260px, auto);
    gap: 60px 60px;
    grid-auto-flow: row;

}
.news-item {
    &-1 {
        grid-column: 1/3;
        background-color: chartreuse;
    }
    &-2 {
        grid-row: 2;
        grid-column: 2;
        background-color: chartreuse;
    }
    &-3 {
        grid-column: 3;
        grid-row: 2/4;
        background-color: chartreuse;
    }

    &__img {
        width: 100%;
    }
    &__descr {
        margin-top: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }
}
